.exception-box
  position: fixed
  top: 50%
  left: 50%
  display: inline-block
  transform: translate(-50%, -50%)
  width: 65%
  height: calc(100vh - 100px)
  background-color: #dedede
  border-radius: 5px
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.5)
  overflow: hidden
  i.ex-close
    position: absolute
    right: 10px
    top: 10px
    color: white
    font-size: 24px
    cursor: pointer
