@import "vars"
body
  overflow: hidden
*
  margin: 0
  padding: 0
  &::-webkit-scrollbar
    width: 8px
    height: 8px
  &::-webkit-scrollbar-track
    background-color: rgba(255, 255, 255, 0.5)
    border-radius: 8px
  &::-webkit-scrollbar-thumb
    background: rgba(170, 170, 170, 0.51)
    width: 3px
    border-radius: 8px
    &:hover
      background: #8c8c8c

#content
  min-height: 100vh
  background-color: #eeeeee
  #main
    position: relative
    height: calc(100vh - 61px)
    flex: 1
    overflow: hidden
    z-index: auto
    transition: margin-left $duration ease-in-out, $color-transition
  .app-main
    margin-top: $tab-size
    height: 100%
    overflow: auto
    background-color: white
    .app-footer
      position: relative
      text-align: center
      color: gray
      margin: 10px 0
      text-shadow: 0 1px 1px #d4bad0
      &::before
        content: ''
        width: 240px
        height: 1px
        background-color: #ebebeb
        position: absolute
        transform: translateX(-50%)
        left: 50%
        top: -6px
    .app-notification
      margin-bottom: 15px
      position: relative
      display: inline-block
      width: 100%
      .el-alert:not(:first-child)
        position: relative
        margin-top: -34px
        margin-left: -4px
        box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.11)
  .el-menu
    background-color: transparent !important
  &.fixed-aside
    #main
      margin-left: $aside-width
      box-shadow: -1px 20px 12px rgba(0, 0, 0, 0.1)
      transition: margin-left $duration ease-in-out, $color-transition
    .app-aside
      height: 100%
      position: fixed
      .el-menu
        height: 100%

