@import "vars"
*
  margin: 0
  padding: 0
  &::-webkit-scrollbar
    width: 8px
    height: 8px
  &::-webkit-scrollbar-track
    background-color: #fff
    box-shadow: inset 0 0 6px rgba(158, 158, 158, 0.53)
    border-radius: 8px
  &::-webkit-scrollbar-thumb
    background: rgba(170, 170, 170, 0.51)
    width: 3px
    border-radius: 8px
    &:hover
      background: #8c8c8c

#content
  min-height: 100vh
  background-color: #eeeeee
  #main
    position: relative
    height: calc(100vh - 61px)
    flex: 1
    overflow: hidden
    z-index: auto
  .app-main
    margin-top: $tab-size
    height: 100%
    overflow: auto
    background-color: white
  .el-menu
    background-color: transparent !important
  &.fixed-aside
    #main
      margin-left: $aside-width
      border-top-left-radius: 10px
      box-shadow: -1px 20px 20px rgba(127, 127, 127, 0.3)
    .app-aside
      height: 100%
      position: fixed
      .el-menu
        height: 100%

