@import "../../../../assets/style/vars"
$close-size: 18px
$radius: 3px
.app-tabs
  height: $tab-size
  position: fixed
  top: 61px
  z-index: 100
  transition: left $duration ease-in-out
  background-color: transparent
  .tab-item
    border-top-left-radius: $radius
    border-top-right-radius: $radius
    height: $tab-size
    float: left
    margin-right: 2px
    position: relative
    transition: width $duration ease-in-out
    opacity: .5
    background-color: white
    h4
      text-align: center
      line-height: $tab-size
      color: gray
      cursor: default
    .close-tab
      border-radius: 100%
      font-size: $close-size
      color: #ee9ca0
      opacity: .3
      position: absolute
      right: ($tab-size - $close-size) / 2
      top: ($tab-size - $close-size) / 2
      text-align: center
      &:hover
        opacity: 1
        background-color: rgba(250, 128, 115, 0.53)
        color: white
    &.active
      z-index: 50
      opacity: 1
      h4
        color: #000
      .close-tab
        opacity: .7
        &:hover
          opacity: 1
